header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #162831;
    padding: 15px;
    width: 100%;
    font-size: 14px;
}

nav {
    width: 400px;
}

li {
    list-style: none;
    margin: 25px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.buti button {
    width: 155px;
    height: 36px;
    background-color: #018ABE;
    border: 3px;
    margin: 0px 0px 0px 70px;
}

body {
    background-color:  #162831;
}

.logo img {
    width: 90px;
    border-radius: 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.pal{
    display: flex;
    margin: 0 auto;
    width: 1296px;
    height: 1px;
    opacity: 0.5;
    background-color: white;
}

.novo{
    display: flex;
    justify-content: center;
    margin: 60px;
    color: white;
    font-size: 42px;
}

.bat{
    width: 108px;
    height: 33px;
    background: #018ABE;
    border-radius: 5px;
    padding: 6px;    
    margin-bottom: 150px;
}

.prod{
    padding: 30px;  
    background-image: url(/frontend/WebsiteAquatherapy/IMG/unsplash_TnOyyEtrKd.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 416px;
    height: 258px;
    color: white;
    font-size: 21px ;
    margin-bottom: 33px;
    margin: 12px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.contai{
    display: flex;
    justify-content: center;
}

.cont{
    margin: 0 auto;
    width: 1296px;
    height: 850px;
    padding: 20px;
}

.pala{
    margin: 0 auto;
    width: 1296px;
    height: 1px;
    background-color: white;
}

.te{
    display: flex;
    justify-content: center;
    color: white;
}

.te p{
    margin: 30px 200px 20px 200px ;
}