header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #162831;
    padding: 15px;
    width: 100%;
    font-size: 14px;
}

nav {
    width: 400px;
}

li {
    list-style: none;
    margin: 25px;
}

.nav a {
    text-decoration: none;
    color: white;
    font-size: 14px;
}
ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.buti button {
    width: 155px;
    height: 36px;
    background-color: #018ABE;
    border: 3px;
    margin: 0px 0px 0px 70px;
}

body {
    background-color:  #162831;
}

.logo img {
    width: 90px;
    border-radius: 40px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    display: none;
}

.pal{
    display: flex;
    margin: 0 auto;
    width: 1296px;
    height: 1px;
    opacity: 0.5;
    background-color: white;
}

h1{
    display: flex;
    justify-content: center;
    color: white;
    margin-bottom: 60px;
}

.bat{
    display: flex;
    justify-content: center;
    width: 108px;
    height: 33px;
    background: #018ABE;
    border-radius: 5px;
    padding: 6px;

}

.lal{
    width: 550px;
    height: 450px;
    color: white;
}

.im{
    width: 636px;
    height: 394px;
    margin-left: 100px;
}

.lol{
    display: flex;
    justify-content: center;
}

h2{
    font-size: 24px;
}

.pala{
    margin: 0 auto;
    width: 1296px;
    height: 1px;
    background-color: white;
}

.te{
    display: flex;
    justify-content: center;
    color: white;
}

.te p{
    margin: 30px 200px 20px 200px ;
}